<div id="game-info-container" class="d-flex flex-row flex-wrap justify-content-around mt-5 mb-3">

  <div class="info-box-shadow border-radious p-4">
    <p class="text-uppercase white-font">{{turns}}:
      <span class="turns">7</span>
    </p>
  </div>
  <div class="info-box-shadow border-radious p-4">
    <p class="white-font">{{currency}}
      <span class="currency">300</span>
    </p>
  </div>
  <div class="info-box-shadow border-radious p-4">
    <p class="text-uppercase white-font">{{time}}:
      <span class="time">475</span>
    </p>
  </div>
</div>