<!--The content below is only a placeholder and can be replaced.-->
<div class="casino-green p-1">
  <h1 class="text-center white-font letter-spacing font-weight-bold my-4">
    Welcome to {{ title }}!
  </h1>

  <gameinfo></gameinfo>

  <!-- <deck></deck> -->

  <div class="deck-container">
    <ul class="no-paddings d-flex flex-row flex-wrap justify-content-around">
      <li *ngFor="let card of cards | shuffle" class="li-style cover m-4 p-1">

        <img (click)="toggleCards()" *ngIf="hideCard" src="https://cdn.shopify.com/s/files/1/0200/7616/products/playing-cards-bicycle-tangent-back-1_1024x1024.png?v=1474345861"
          alt="back-card" class="back-card">

        <img (click)="toggleCardsBack()" *ngIf="showCard" src={{card}} alt={{card}} class="front-card">

      </li>
    </ul>
  </div>

</div>
