<!--The content below is only a placeholder and can be replaced.-->
<div class="casino-green p-1">
  <h1 class="text-center white-font">

    Welcome to {{ title }}!
  </h1>

  <div id="game-info" class="d-flex flex-row flex-wrap justify-content-around mt-5">

    <p class="text-uppercase white-font">turns:
      <span class="turns"></span>
    </p>
    <p class="white-font">$
      <span class="currency"></span>
    </p>
    <p class="text-uppercase white-font">time:
      <span class="time"></span>
    </p>
  </div>

  <div class="deck-container">
    <ul class="d-flex flex-row flex-wrap justify-content-around">
      <li *ngFor="let card of cards" class="li-style cover m-4 p-1">

        <img (click)="toggleCards()" *ngIf="hideCard" src="https://cdn.shopify.com/s/files/1/0200/7616/products/playing-cards-bicycle-tangent-back-1_1024x1024.png?v=1474345861"
          alt="back-card" class="back-card">

        <img (click)="toggleCardsBack()" *ngIf="showCard" src={{card}} alt={{card}} class="front-card">



      </li>
    </ul>

  </div>

</div>
