.casino-green {
  background-image: radial-gradient(circle, #42630e, #005f25, #1d3a0a, #3a4104, #000000);
}

.white-font {
  color: #fff;
}

.info-box-shadow {
  -webkit-box-shadow: inset 1px 0px 54px 9px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: inset 1px 0px 54px 9px rgba(0, 0, 0, 0.36);
  box-shadow: inset 1px 0px 54px 9px rgba(0, 0, 0, 0.36);
}

.info-box-shadow p {
  margin-bottom: 0;
}

.border-radious {
 border-radius: 1rem;
}

.deck-container {
  /* position: relative; */
}

.no-paddings {
 padding: 0;
}

.li-style {
  list-style: none;
}

.cover {
  /* background-color: black; */
  /* position: absolute; */
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  max-width: 225px;
}

/* .cover:hover {
  transform: rotateY(180deg);
} */

.back-card {
  backface-visibility: hidden;
  max-width: 225px;
  /* position: absolute; */
}

.front-card {
  /* position: absolute; */
  /* backface-visibility: hidden;
  transform: rotateY(180deg); */
}
