.casino-green {
  /* background-color: #005f25; */
  /* background: radial-gradient(ellipse at center, #003816 0%, #008080 100%); */
  /* w3c */
  background-image: radial-gradient(circle, #42630e, #005f25, #1d3a0a, #3a4104, #000000);
}

.white-font {
  color: #fff;
}

.deck-container {
  /* position: relative; */
}

.li-style {
  list-style: none;
}

.cover {
  /* background-color: black; */
  /* position: absolute; */
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  max-width: 225px;
}

/* .cover:hover {
  transform: rotateY(180deg);
} */

.back-card {
  max-width: 225px;
  /* position: absolute; */
  backface-visibility: hidden;
}

.front-card {
  /* position: absolute; */
  /* backface-visibility: hidden;
  transform: rotateY(180deg); */
}
